annotated-types==0.7.0
attrs==24.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
contourpy==1.3.1
cycler==0.12.1
dacite==1.8.1
fonttools==4.54.1
htmlmin==0.1.12
idna==3.10
ImageHash==4.3.1
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
llvmlite==0.43.0
MarkupSafe==3.0.2
matplotlib==3.9.2
multimethod==1.12
networkx==3.4.2
numba==0.60.0
numpy==2.0.2
packaging==24.2
pandas==2.2.3
pandas-profiling==3.6.6
patsy==1.0.1
phik==0.12.4
pillow==11.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyWavelets==1.7.0
PyYAML==6.0.2
requests==2.32.3
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
soupsieve==2.6
statsmodels==0.14.4
tqdm==4.67.0
typeguard==4.4.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
visions==0.7.6
wordcloud==1.9.4
ydata-profiling==4.12.0
